USE [master]
GO
/****** Object:  Database [cineMatixVT]    Script Date: 12.01.2025 20:53:19 ******/
CREATE DATABASE [cineMatixVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cineMatixVT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\cineMatixVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cineMatixVT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\cineMatixVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cineMatixVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cineMatixVT]
GO
/****** Object:  Table [dbo].[Tbl_Biletler]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Biletler](
	[ID] [smallint] NULL,
	[BKOD] [char](100) NULL,
	[ADSOYAD] [nvarchar](max) NULL,
	[TELNO] [char](10) NULL,
	[KOLTUKNO] [nvarchar](max) NULL,
	[FILMADI] [nvarchar](max) NULL,
	[TARIH] [nvarchar](max) NULL,
	[SAAT] [nvarchar](max) NULL,
	[SALON] [nvarchar](max) NULL,
	[TUR] [nvarchar](max) NULL,
	[ISLEMSAATI] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Filmler]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Filmler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ADI] [nchar](50) NULL,
	[TURU] [nchar](100) NULL,
	[OZELLIKLERI] [nchar](100) NULL,
	[BICIMI] [nchar](100) NULL,
	[YONETMEN] [nchar](100) NULL,
	[OYUNCU] [nchar](200) NULL,
	[DETAY] [nchar](300) NULL,
	[PUAN] [char](2) NULL,
	[AFIS] [nvarchar](max) NULL,
	[TARIH] [nchar](30) NULL,
	[DURUM] [char](1) NULL,
 CONSTRAINT [PK_Tbl_Filmler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kontrol]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kontrol](
	[FILMADI] [nvarchar](50) NULL,
	[TARIH] [nvarchar](20) NULL,
	[SAAT] [char](5) NULL,
	[SALONADI] [nchar](20) NULL,
	[KOLTUKLAR] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kullanicilar]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kullanicilar](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[KADI] [nvarchar](50) NULL,
	[KSIFRE] [nvarchar](50) NULL,
	[ADSOYAD] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tbl_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Oyuncular]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Oyuncular](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [nvarchar](max) NULL,
	[CINSIYET] [char](1) NULL,
	[YAS] [char](1000) NULL,
	[BIYOGRAFI] [nvarchar](300) NULL,
	[RESIM] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_Oyuncular] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Salonlar]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Salonlar](
	[ID] [smallint] NULL,
	[SALONADI] [nvarchar](50) NULL,
	[KOLTUKSAYISI] [nchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Secilenler]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Secilenler](
	[KISI] [nvarchar](50) NULL,
	[TUR] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Yonetmenler]    Script Date: 12.01.2025 20:53:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Yonetmenler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[ADSOYAD] [nvarchar](100) NULL,
	[CİNSİYET] [char](1) NULL,
	[YAŞ] [char](2) NULL,
	[BİYOGRAFİ] [nvarchar](300) NULL,
	[RESİM] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_Yonetmenler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
